<extend name="Public:base"/>
<block name="right">
    <h3>添加商品</h3>
    <form action="{:U('Admin/Admin/addPro')}" method="post" enctype="multipart/form-data">
        <table class="table table-striped table-hover">
            <tr>
                <td align="right">商品名称</td>
                <td><input type="text" name="pName"  placeholder="请输入商品名称"/></td>
            </tr>
            <tr>
                <td align="right">商品分类</td>
                <td>
                    <select name="cId">
                        <foreach name="cateInf" item="cate">
                        <option name='cid' value="{$cate.id}">{$cate.cname}</option>
                        </foreach>
                    </select>
                </td>
            </tr>
            <tr>
                <td align="right">商品货号</td>
                <td><input type="text" name="pSn"  placeholder="请输入商品货号"/></td>
            </tr>
            <tr>
                <td align="right">商品数量</td>
                <td><input type="text" name="pNum"  placeholder="请输入商品数量"/></td>
            </tr>
            <tr>
                <td align="right">商品市场价</td>
                <td><input type="text" name="mPrice"  placeholder="请输入商品市场价"/></td>
            </tr>
            <tr>
                <td align="right">商品慕课价</td>
                <td><input type="text" name="iPrice"  placeholder="请输入商品慕课价"/></td>
            </tr>
            <tr>
                <td align="right">商品描述</td>
                <td>
                    <textarea name="pDesc" id="editor_id" style="width:100%;height:150px;"></textarea>
                </td>
            </tr>
            <tr>
                <td align="right">商品图像</td>
                <td>
                    <input type='file'  name='photo[]'>
                    <input type='file'  name='photo[]'>
                    <input type='file'  name='photo[]'>
                    <div id="attachList" class="clear"></div>
                </td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" class="btn btn-default" value="发布商品"/></td>
            </tr>
        </table>
    </form>
    </body>
</block>